// 우리만의 컬러칩 만들어서 사용하기!
// 사용법은 @import './colors.scss';
// 컬러칩은 Figma 순서대로

// Blue
$blue-1: #678cff;
$blue-2: #AABFFF;
$blue-3: #D9E2FF;

// Orange
$orange-1: #FF7A5C;
$orange-2: #FFA48F;
$orange-3: #FFD5CC;

//Gray
$gray-1: #303030;
$gray-2: #6B6B6B;
$gray-3: #B8B8B8;
$gray-4: #CFCFCF; // 기본 gray
$gray-5: #E8E8E8;
$gray-5: #E8E8E8;