/* 달력 영역 최상단 */
.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: none;
  font-family: "Pretendard-Regular";
}

/* .react-calendar__navigation {
  border-style: solid none;
  margin: 10px 2px;
  width: 98%;
  min-width: 210px;
  display: flex;
} */

/* 네비게이션 버튼*/
.react-calendar__navigation button {
  color: #000;
  min-width: 44px;
  margin: 10px 2px;
  background: none;
  font-size: 18px;
  border-style: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: bisque;
  border-radius: 20px;
}

/* 월화수목금토 */
abbr[title] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #6b6b6b;
  padding: 10px 0px;
  border-width: 1px 0px;
  border-style: solid none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* 타일 하나하나 */
.react-calendar__tile {
  padding: 10px 10px;
  background: none;
  text-align: center;
  line-height: 16px;
  border: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-image: url("../assets/dayActive.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* 지난달 다음달 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #cfcfcf;
}

/* 오늘 */
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb33;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}

/* 범위 설정시 수정 */
/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
} */

/* 설정 디데이 */
.dDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular";
  color: #678cff;
}

.dDayText {
  color: #111;
}
