// 홈(비활성-활성)
$home: "../../assets/homeIcon.svg";
$homeActive: "../../assets/homeActive.svg";

// 피드
$feed: "../../assets/feedIcon.svg";
$feedActive: "../../assets/feedActice.svg";

// 이벤트 생성
$event: "../../assets/eventIcon.svg";
$eventActive: "../../assets/eventActive.svg";

// 검색
$search: "../../assets/searchIcon.svg";
$searchActive: "../../assets/searchActive.svg";

// 마이페이지
$my: "../../assets/myIcon.svg";
$myActive: "../../assets/myActive.svg";

// 알람
$alarm: "../../assets/alarm.svg";
$alarmActive: "../../assets/alarmActive.svg";

// 댓글
$comment: "../../assets/comment.svg";
$commentActive: "../../assets/commentActive.svg";

// 좋아요
$like: "../../assets/like.svg";
$likeActive: "../../assets/likeActive.svg";

// 팡파레
$pang: "../../assets/pang.svg";
$pangActive: "../../assets/pangActive.svg";

// 설정
$setting: "../../assets/setting.svg";
$settingActive: "../../assets/settingActive.svg";

// 종료
$exit: "../../assets/exit.svg";

// 다음
$next: "../../assets/next.svg";

// 이전
$prev: "../../assets/prev.svg";

//공유하기
$export: "../../assets/export.svg";

// 팡파티 로고(글씨)
$ptext: "../../assets/pangpartytext.png";

// 팡파티 로고(이미지)
$picon: "../../assets/pangpartyicon.png";

// 롤페 추가하기 버튼
$add: "../../assets/add";