@import "../../styles/colors.scss";

.feedWrapper {
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin-bottom: 12%;

  a {
    text-decoration: none;
    color: $gray-1;
    font-family: "Pretendard-Regular";
  }

  p {
    margin: 0;
  }

  ul {
    margin-top: -10px;
    // border: 1.5px solid $orange-1;
    // border-radius: 15px;
  }

  /** FeedDetailPage에 있음 */
  .postDeleteBtn {
    text-align: end;
    button {
      border: none;
      background-color: transparent;
      color: $blue-1;
      font-weight: 900;
    }
  }

  /** FeedDetailPage에 있음 */
  .modifyFeedContainer {
    text-align: end;
    margin: 5px 5px 10px 0px;

    p {
      font-weight: 900;
      font-size: 13px;
      color: $gray-1;
    }
  }

  .feedContainer {
    box-shadow: $box-shadow;
    border: 1.5px solid $blue-1;
    border-radius: 15px;
    width: 89%;
    height: auto;
    padding: 11px 15px 11px 15px;
    margin: 10px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .feedMember {
      display: flex;
      flex-flow: row;
      // margin: 10px;

      img {
        width: 52px;
        height: 52px;
        border-radius: 52px;
      }

      .titleAndMember {
        display: flex;
        flex-flow: column;
        // width: 100%;
        margin-left: 15px;
        margin-top: 5px;

        .feedTitle {
          font-size: 16px;
          font-weight: 600;
        }
        .feedId {
          font-size: 13px;
          color: $orange-1;
          font-weight: 600;
        }
      }
    }
    .feedContent {
      margin-top: 10px;

      display: flex;
      flex-flow: row;
      justify-content: space-between;

      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }
  }

  // PostCommentList에 있는 댓글 + 업로드
  .postCommentUploadContainer {
    hr {
      width: 100%;
      border: 1px solid $gray-4;
    }
    .postCommentContainer {
      .oneCommentContainer {
        display: flex;
        margin: 10px;
        justify-content: space-between;

        .rightCommentArea {
          width: 245px;
        .postMemberProfile {
          display: flex;
          margin-bottom: 10px;

          img {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            margin: 10px 10px 3px 0px;
          }
          p {
            display: flex;
            align-items: center;
            color: $blue-1;
            font-weight: 900;
          }
        }
      }

        .commentTimeDeleteContainer {
          display: flex;
          flex-flow: column;
          text-align: right;
          justify-content: space-between;
          margin: 10px 0px;
          gap: 20px;
          p {
            color: $gray-3;
            font-size: 13px;
          }
          button {
            border: none;
            background-color: transparent;
            color: $orange-1;
            padding: 0px;
            font-weight: 900;
          }
        }
      }
    }
    .commentLength {
      display: flex;
      justify-content: end;
      margin-right: 10px;
      font-size: 13px;
      color: $gray-2;
      p {
        color: $orange-1;
      }
    }

    // PostContainerList
    .postUploadContainer {
      display: flex;
      flex-flow: column;
      margin: 10px;
    }

    // postCommentUpload
    .commentUploadWrapper {
      display: flex;
      justify-content: center;

      position: fixed;
      bottom: 75px;
      width: 325px;

      .postCommentUploadContainer {
        border: 1.5px solid $gray-4;
        border-radius: 15px;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        background-color: white;

        input {
          width: 70%;
          border: none;
        }
        button {
          border: none;
          background-color: transparent;
          color: $blue-1;
          font-weight: 900;
        }
      }
    }
  }
}
