@import "../../styles/colors.scss";

.feedFooterContainer {
  display: flex;
  justify-content: space-between;

  .likeCommentContainer {
    display: flex;

    .postIconContainer {
      display: flex;
      flex-flow: column;
      justify-content: center;

    }
  }
  .feedTime {
    font-size: 13px;
    color: $gray-3;
    display: flex;
    align-items: flex-end;
    margin: 5px;
  }
}
