.pieceContainer {
  margin: auto;
  background-color: bisque;
  width: 20rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#inputTextArea {
  margin: 10%;
  width: 100%;
  height: 10rem;
  text-align: center;
  resize: none;
  background-color: transparent;
  border: none;
}

.fontChooser {
  width: 100%;
}

.RollingPaperCard-Pretendard {
  /* width: 366px;
  height: 379px; */
  font-family: 'Pretendard-Regular';
}

.RollingPaperCard-KyoboHandwriting2020A {
  /* width: 366px;
  height: 379px; */
  font-family: 'KyoboHandwriting2020A';
}

.RollingPaperCard-KOTRAHOPE {
  /* width: 366px;
  height: 379px; */
  font-family: 'KOTRAHOPE';
}