.createPieceContainer{
  display: "flex";
  align-items: "center";
  flex-direction: "column";
}

.createPiecePageHeader{
  display: flex;
  margin: 20px;
  align-items: center;
}

.pieceContainer {
  width: 320px;
  height: 315px;
  border-radius: 8px;
  flex-direction: column;
}

.pieceContent {
  margin: 10%;
  width: 80%;
  height: auto;
  text-align: center;
  resize: none;
  background-color: transparent;
  border: none;
}

.from {
  display: flexbox;
  background-color: transparent;
  width: 100%;
  margin-bottom: 5%;
}

.writerUid {
  background-color: transparent;
  border: none;
}

.buttonContainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.changeButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 5px;
}

.changeButton:focus {
  background-color: #ffa48f;
  color: white;
}

.fontChooser {
  width: 100%;
}

.RollingPaperCard-Pretendard {
  /* width: 366px;
  height: 379px; */
  font-family: "Pretendard-Regular";
}

.RollingPaperCard-KyoboHandwriting2020A {
  /* width: 366px;
  height: 379px; */
  font-family: "KyoboHandwriting2020A";
}

.RollingPaperCard-KOTRAHOPE {
  /* width: 366px;
  height: 379px; */
  font-family: "KOTRAHOPE";
}
