.pieceContainer {
  background-color: bisque;
  width: 20rem;
  border-radius: 20px;
  align-items: center;
  vertical-align: middle;
}

.pieceWrite {
  position: relative;
  margin: 20px;
  background-color: aqua;
  text-align: center;
}

.RollingPaperCard-Pretendard {
  /* width: 366px;
  height: 379px; */
  font-family: 'Pretendard-Regular';
}

.RollingPaperCard-KyoboHandwriting2020A {
  /* width: 366px;
  height: 379px; */
  font-family: 'KyoboHandwriting2020A';
}

.RollingPaperCard-KOTRAHOPE {
  /* width: 366px;
  height: 379px; */
  font-family: 'KOTRAHOPE';
}