@import "../../styles/colors.scss";

.pieceListContianer {
  width: 95px;
  height: 97px;
  background: $orange-2; //추후수정해주세요
  box-shadow: 0px 0px 3px $gray-2;
  border-radius: 3px;
  font-size: 13px;
  margin: 3px;
  padding: 5px;

  overflow: hidden;
  text-overflow: ellipsis;

  // z-index: 10000;
}
