
.drag-box{
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}


.drag-box:active {
  background-color: rgba(168, 218, 220, 1.00);
}
.drag-box:hover {
  cursor: pointer;
  border-width: 10px;
}
