@import "../../styles/colors.scss";

.pangContainer {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 55px;
  padding: 0px;
  box-shadow: $box-shadow;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 30;

  position: relative;

  .pangIcon {
    position: absolute;
    top: -3px;
    left: 0px;
  }

  .pangCnt {
    position: absolute;
    top: 28px;
    left: 30px;
  }
}
