@import "../../styles/colors.scss";
@import "../../styles/iconImg.scss";

.sharePopOver {
  background-color: $gray-4;
  box-shadow: $box-shadow;
  border-radius: 15px;
  padding: 0px;
  width: 150px;
  height: 86px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // top: -75px;
  // left: -134px;
  

  p {
    margin: 0px;
    font-weight: 600;
    font-size: 13px;
  }
  hr {
    width: 135px;
    background-color: white;
    height: 1px;
    border: 0;
  }
}

.shareBtnImg {
  background-image: url($share);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: 10000;
}
