.appContainer {
  font-family: "Pretendard-Regular";
  display: block;
  min-width: 330px;
  max-width: 340px;
  /* 세로 길이는 임의로 설정. 추후 필요에 따라 수정 가능합니다. */
  min-height: 600px;
  border: 1px solid;
  padding: 9px;
  margin: auto;
}
button {
  font-family: "Pretendard-Regular";
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1;
}

.footer {
  position: sticky;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 94px;
  left: 0px;
  top: 706px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2020A";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
