// 홈(비활성-활성)
$home: "../../assets/homeIcon.svg";
$homeActive: "../../assets/homeActive.svg";

// 피드
$feed: "../../assets/feedIcon.svg";
$feedActive: "../../assets/feedActice.svg";

// 이벤트 생성
$event: "../../assets/eventIcon.svg";
$eventActive: "../../assets/eventActive.svg";

// 검색
$search: "../../assets/searchIcon.svg";
$searchActive: "../../assets/searchActive.svg";

// 마이페이지
$my: "../../assets/myIcon.svg";
$myActive: "../../assets/myActive.svg";

// 알람
$alarm: "../../assets/alarm.svg";
$alarmActive: "../../assets/alarmActive.svg";

// 댓글
$comment: "../../assets/comment.svg";
$commentActive: "../../assets/commentActive.svg";

// 좋아요
$like: "../../assets/like.svg";
$likeActive: "../../assets/likeActive.svg";

// 팡파레
$pang: "../../assets/pang.svg";
$pangActive: "../../assets/pangActive.svg";

// 설정
$setting: "../../assets/setting.svg";
$settingActive: "../../assets/settingActive.svg";

// 로그인
$login: "../../assets/likeActive.svg";

// 종료
$exit: "../../assets/exit.svg";

// 다음
$next: "../../assets/next.svg";

// 이전
$prev: "../../assets/prev.svg";

//공유하기
$share: "../../assets/share.svg";

// 팡파티 로고(글씨)
$ptext: "../../assets/pangpartytext.png";

// 팡파티 로고(이미지)
$picon: "../../assets/pangpartyicon.png";

// 검색 타입 : 멤버
$typeMember: "../../assets/typeMember.svg";

// 검색 타입 : 해시태그
$typeHashtag: "../../assets/typeHashtag.svg";

// 검색 타입 : 이벤트
$typeEvent: "../../assets/pangActive.svg";

// x 표시
$x: "../../assets/x.svg";

// 롤페 추가하기 버튼
$add: "../../assets/addRP.svg";

// ok 표시
$ok: "../../assets/okSign.svg";

// login SNS logo
$naver: "../../assets/loginNaver.svg";
$google: "../../assets/loginGoogle.svg";

// 링크 버튼
$link: "../../assets/link.svg";

// 입력 값 초기화 버튼
$clear: "../../assets/clear.svg";

// 체크 표시
$check: "../../assets/check.svg";

// 오늘의 이슈
$todayIssue: "../../assets/todayIssue.svg"