// 홈
$home: "../../assets/homeIcon.svg";
$homeActive: "../../assets/homeActive.svg";

// 피드
$feed: "../../assets/feedIcon.svg";
$feedActive: "../../assets/feedActive.svg";

// 이벤트 생성
$event: "../../assets/eventIcon.svg";
$eventActive: "../../assets/evenActive.svg";

// 검색
$search: "../../assets/searchIcon.svg";
$searchActive: "../../assets/searcActive.svg";

// 마이페이지
$my: "../../assets/myIcon.svg";
$myActive: "../../assets/myActive.svg";

// 알람
$alarm: "../../assets/alarm.svg";
$alarmActive: "../../assets/alarmActive.svg";

// 댓글
$comment: "../../assets/comment.svg";
$commentActive: "../../assets/commentActive.svg";

// 좋아요
$like: "../../assets/like.svg";
$likeActive: "../../assets/likeActive.svg";

// 팡파레
$pang: "../../assets/pang.svg";
$pangActive: "../../assets/pangActive.svg";

// 설정
$setting: "../../assets/setting.svg";
$settingActive: "../../assets/settingActive.svg";