/* 전역 css 적용 후 삭제  */
.MyPage {
  font-family: "Pretendard-Regular";
}

.userId {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
}

.username {
  color: #678CFF;
  font-weight: bold;
  margin: 1px 0;
}

.userintro {
  margin-top: 5px;
  margin-bottom: 0px
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.imgBox {
  float: left;
  width: 89px;
  height: 89px;
  border-radius: 100%;
  overflow: hidden;
}
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center center; */
}

.profileBox {
  display: inline-block;
  margin-left: 10px;
}

.followContainer {
  display: flex;
  justify-content: space-between;
}

.followBox {
  display: flex;
  justify-content: space-evenly; 
  margin-right: 20px;
}

.followText {
  color: black
}

.followNum {
  margin-left: 5px;
  font-weight: bold;
  color: #FF7A5C;
}

.eventInfoContainers {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventBox {
  border: 0;
  border-radius: 13px;
  height: 98px;
  width: 30%;
  margin: 3px;
  box-shadow: 3px 3px 3px 3px #E8E8E8;
  background-color: transparent;
  font-family: "Pretendard-Regular";
}

.ComponentsChooser {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border-width: 1.5px 0px;
  border-color: #E8E8E8;
  border-style: solid none;
}

.componentBoxActive {
  height: 32px;
  border-radius: 20px;
  border: 0;
  background-color: #E8E8E8;
  padding: 0 15px;
  font-family: "Pretendard-Regular";
}

.componentBox {
  height: 32px;
  border: 0;
  background-color: transparent;
  padding: 0 15px;
  font-family: "Pretendard-Regular";
}


/* 뱃지 */
.badgeContainer {
  display: flex;
  margin: 10px;
}

.badgeImgContainer {
  display: inline-block;
}

.badgeImg {
  width: 75px;
  overflow: contain;
}