@import "./colors.scss";
.recapContainer {
  background-color: $orange-3;
  // background-image: url('../assets/loginBaby.png');
  // background-repeat : no-repeat;
  // background-size : contain;
}

.recapTop {
  height: 70px;
  //   background-color: aqua;
}

.recapTitleDday {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: $orange-1;
}

.recapTitleMent {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.recapAboutText {
  font-family: "Pretendard";
  color: $blue-1;
}

.recapAboutTextNormal {
  color: black !important;
}

.btnContainer {
  margin-top: 60px;
  // width: 100px;
}

// motion
.motionDiv {
  margin: 100px 0;
  // height: 600px;
  width: 100%;
}

section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  width: 340px;
  margin: 0 auto;
  // background: var(--accent);
  background: red;
  bottom: 100px;
}

.subIcon {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100000;
}

.downIcon {
  margin: 10px auto;
  animation: moveY 1s infinite;
}

// carousel
.carouselContainer {
  width: 90%;
  margin: 10px auto;
}

.carouselDiv {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../assets/textbox.png");
  background-size: cover;
  height: 330px;
  width: 100%;
  // background-size: contain;
  // overflow: hidden;
  // height: 290px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.carouselContentBlock {
  width: 200px;
  display: inline-block;
  padding-inline: 40px;
  padding-top: 15px;
  margin: 0 auto;
}

.ddayTextImg {
  margin: 40% auto 5px;
  height: 11px;
}

.recapImg {
  margin: 0 auto;
  // width: 85px;
  height: 75px;
  animation: moving 1s infinite;
}

.recapAboutText {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}

.goDetailContainer {
  position: fixed;
  bottom: 100px;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: white;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 25px;
  line-height: 1;

  opacity: 0.75;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "<";
}
[dir="rtl"] .slick-prev:before {
  content: ">";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: ">";
}
[dir="rtl"] .slick-next:before {
  content: "<";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 300px;
}

.slick-dots {
  position: absolute;
  bottom: -50px;

  display: block;

  width: 100%;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: $orange-3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $orange-1;
}

@keyframes moving {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(1px);
  }
}
