@import "./colors.scss";
.recapContainer {
  background-color: $orange-3;
  // background-image: url('../assets/loginBaby.png');
  // background-repeat : no-repeat;
  // background-size : contain;
}

.recapTop {
  height: 70px;
  //   background-color: aqua;
}

.recapTitleDday {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: $orange-1;
}

.recapTitleMent {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.recapAboutText {
  font-family: "Pretendard";
  color: $blue-1;
}

.recapAboutTextNormal {
  color: black !important;
}

.btnContainer {
  margin-top: 60px;
  // width: 100px;
}

// motion
.motionDiv {
  margin: 100px 0;
  // height: 600px;
  width: 100%;
}

section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  width: 340px;
  margin: 0 auto;
  border-radius: 5px;
  // background: var(--accent);
  background: $blue-2;
  bottom: 70px;
}

.subIcon {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100000;
}

.downIcon {
  display: flex;
  cursor: pointer;
  margin: 0px auto;
  animation: moveY 1s infinite;
}

.recapFirstdownIcon {
  display: flex;
  position: relative;
  bottom: -180px;
  margin: 0px auto;
  animation: moveY 1s infinite;
}

// carousel
.carouselContainer {
  width: 90%;
  margin: 10px auto;
}

.carouselDiv {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../assets/textbox.png");
  background-size: cover;
  height: 330px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.carouselDivRp {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../assets/textbox.png");
  background-size: cover;
  height: 330px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.carouselDivPhoto {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../assets/textbox.png");
  background-size: cover;
  height: 330px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.carouselDivGoDetail {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../assets/textbox.png");
  background-size: cover;
  height: 330px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.carouselContentBlock {
  width: 200px;
  display: inline-block;
  padding-inline: 40px;
  padding-top: 25px;
  margin: 0 auto;
}

.ddayTextImg {
  margin: 40% auto 5px;
  height: 11px;
}

.recapImg {
  margin: 0 auto;
  // width: 85px;
  height: 75px;
  animation: moving 1s infinite;
}

.recapAboutText {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
}

.goDetailContainer {
  position: fixed;
  bottom: 70px;
}

@keyframes moving {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(1px);
  }
}
