@import "../../styles/colors.scss";

.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;

  /** 사이즈 관리 */
  &.large {
    width: 328px;
    height: 55px;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &.small {
    width: 68px;
    height: 32px;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
  }

  // 색상 관리
  &.blue-1 {
    background: $blue-1;
    &:hover {
      background: $blue-2;
    }

    &:active {
      background: $blue-2;
    }
  }

  &.orange-1 {
    background: $orange-1;
    &:hover {
      background: $orange-2;
    }

    &:active {
      background: $orange-2;
    }
  }

  &.gray-4 {
    background: $gray-4;
    &:hover {
      background: lighten($orange, 10%);
    }

    &:active {
      background: $orange;
    }
  }

  & + & {
    margin-left: 1rem;
  }
}
