@import "../../styles/colors.scss";

@mixin outline-btn($color) {
  background: none;
  color: $color;
  background: none;
  border: 1px solid $color;
}

.HashTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  margin: 8px 13px 8px 13px;

  &.gray {
    background-color: $gray-4;
    color: $gray-1;
    border: none;
  }

  &.orange {
    @include outline-btn($orange-1);
  }

  &.blue {
    @include outline-btn($blue-1);
  }
}
