@import "../../styles/colors.scss";

$home: "../../assets/homeIcon.svg";

.Icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  // background-color: transparent;

  // 아이콘 img 관리
  &.home {
    : "../../assets/homeIcon.svg";
    fill: $orange-1;
  }

  img {
    src: $home;
  }
}
