@import "../../styles/colors.scss";
@import "../../styles/iconImg.scss";

@mixin icon-activate($img, $imgActive) {
  background-image: url($img);
  &.isActive {
    background-image: url($imgActive);
  }
}

.iconContainer {
  width: 55px;
  height: 55px;
  display: flex;
  flex-flow: column;
  align-items: center;

  .Img {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;

    // 아이콘 img 관리
    &.home {
      @include icon-activate($home, $homeActive);
    }
    &.feed {
      @include icon-activate($feed, $feedActive);
    }
    &.event {
      @include icon-activate($event, $eventActive);
    }
    &.search {
      @include icon-activate($search, $searchActive);
    }
    &.my {
      @include icon-activate($my, $myActive);
    }
    &.alarm {
      @include icon-activate($alarm, $alarmActive);
    }
    &.like {
      @include icon-activate($like, $likeActive);
    }
    &.pang {
      @include icon-activate($pang, $pangActive);
    }
    &.setting {
      @include icon-activate($setting, $settingActive);
    }
    &.exit {
      background-image: url($exit);
    }
    &.next {
      background-image: url($next);
    }
    &.prev {
      background-image: url($prev);
    }
    &.ptext {
      background-image: url($ptext);
    }
    &.picon {
      background-image: url($picon);
    }
    &.export {
      
    }
  }
  .iconButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .iconText {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: black;
  }
}
