.header {
  display: flex;
  justify-content: space-evenly;
}

.outline {
  width: 90%;
  display: flex;
}

.followContainer {
  width: 100%;
  align-items: center;
}

.followimgBox {
  float: left;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  overflow: hidden;
}
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center center; */
}

.rightContainer {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.followInfoBox {
  display: inline-block;
}

.followButton {
  display: inline-block;
  align-items: center;
}
