@import "../../styles/colors.scss";

.commonButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #ffffff;
  margin: 5px;

  /** 사이즈 관리 */
  &.large {
    width: 328px;
    height: 55px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
  }

  &.small {
    width: 68px;
    height: 32px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
  }

  // 색상 관리
  &.blue-1 {
    background: $blue-1;
    &:hover {
      background: $blue-2;
    }

    &:active {
      background: $blue-2;
    }
  }

  &.orange-1 {
    background: $orange-1;
    &:hover {
      background: $orange-2;
    }

    &:active {
      background: lighten($orange-2, 10%);
    }
  }
  &.orange-3 {
    background: $orange-3;
    color: $orange-1;
    &:hover {
      background: $orange-2;
    }

    &:active {
      background: lighten($orange-2, 10%);
    }
  }

  &.gray-4 {
    background: $gray-4;
    &:hover {
      background: $orange-1;
    }

    &:active {
      background: $orange-1;
    }
  }

  & + & {
    margin: 10px;
  }
}
