@import "../../styles/colors.scss";

$home: "../../assets/homeIcon.svg";

.Icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  // 아이콘 img 관리
  &.home {
    background-image: url($home);
    fill: $orange-1;
  }
}

