@import "../../styles/colors.scss";

.alarmPopoverContainer {
  // background-color: rgba(71, 71, 71, 0.8);
  background-color: rgba($blue-3, 0.8);
  //color: white;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  height: auto;
  display: flex;
  flex-flow: column;
  position: absolute;
  // left: -210px;
  right: -30px;
  button {
    display: flex;
    margin: 2px auto;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }
}

.swal2-popup {
  width: 60% !important;
  height: auto;
  border-radius: 20px !important;
}

.swal2-title {
  font-size: 16px;
  font-family: "Pretendard";
  margin-bottom: 0px !important;
}

.swal2-styled.swal2-confirm {
  height: auto;
  font-size: 13px;
  background-color: $blue-1;
  margin-top: 0px !important;
}

// legacy
// .alarmPopoverContainer {
//   // background-color: rgba(71, 71, 71, 0.8);
//   background-color: rgba($blue-1, 0.8);
//   //color: white;
//   box-shadow: $box-shadow;
//   border-radius: 5px;
//   padding: 10px;
//   width: 200px;
//   height: 250px;
//   display: flex;
//   flex-flow: column;
//   position: absolute;
//   left: -210px;
//   p {
//     margin: 0px;
//     font-weight: 600;
//     font-size: 13px;
//   }

//   hr {
//     width: 98%;
//     background-color: $gray-1;
//     height: 1px;
//     border: 0;
//   }
// }
