@import "../../styles/colors.scss";

.feedWrapper {
  display: flex;
  flex-flow: column;
  gap: 5px;

  a {
    text-decoration: none;
    color: $gray-1;
  }

  p {
    margin: 0;
  }

  ul {
    margin-top: -10px;
    // border: 1.5px solid $orange-1;
    // border-radius: 15px;
  }
  .feedContainer {
    box-shadow: $box-shadow;
    border: 1.5px solid $blue-1;
    border-radius: 15px;
    width: 298px;
    height: auto;
    padding: 11px 15px 11px 15px;
    margin: 10px 5px 10px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .feedMember {
      display: flex;
      flex-flow: row;
      // margin: 10px;

      img {
        width: 52px;
        height: 52px;
        bor
      }

      .titleAndMember {
        display: flex;
        flex-flow: column;
        // width: 100%;
        margin-left: 15px;
        margin-top: 5px;

        .feedTitle {
          font-size: 19px;
          font-weight: 900;
        }
        .feedId {
          font-size: 16px;
          color: $orange-1;
          font-weight: 900;
        }
      }
    }
    .feedContent {
      margin-top: 10px;

      display: flex;
      flex-flow: row;
      justify-content: space-between;

      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;

      .feedTime {
        color: $gray-4;
      }
    }
  }
}
