@import "../../styles/colors.scss";

.feedFooterContainer {
  display: flex;
  justify-content: space-between;
  .likeCommentContainer {
    display: flex;

    .postIconContainer {
      display: flex;
      flex-flow: column;
      justify-content: center;

      .feedTime {
        color: $gray-4;
        align
      }
    }
  }
}
